.welcome {
    background-color: rgb(249, 234, 194);
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 32%;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

้h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}